.spin-id {
	color: #000;
	margin-top: 15%;
}

.share-id1 {
	margin-top: 25%;
}

.share-id2 {
	margin-top: 30%;
}

.share-id3 {
	margin-top: 30%;
}

.share-id4 {
	margin-top: 30%;
}

.footer-container
{
 	clear:both;
 	background:transparent;
 	bottom:0;
 	height:auto;
 	width:100%;
 	position:fixed;
}

.footer{
	width:10%;
 	height:50px;
	margin-left:auto;
 	margin-right:auto;
 	background:transparent;
}

.header-container
{
	clear:both;
 	background:transparent;
 	top:0;
 	height:auto;
 	width:100%;
 	position:fixed;
}

.header{
	width:50%;
 	height:50px;
 	float:right;
 	background:transparent;
}

#search{
	border: 0px solid transparent; 
	height: 31px; 
	width: 35%; 
	float:right;
	transition:500ms all ease; 
	padding:3px 3px 3px 3px; 
}

#search:hover, #search:focus 
{ 
	width:100%; 
	transition:500ms all ease; 
	background:url("../images/search.png") no-repeat right; 
	background-size:25px 25px; 
	background-position:96% 62%; 
	padding:3px 32px 3px 3px; 
	color:#fff;	
} 


body {
    -webkit-animation: colorchange 50s;
    animation: colorchange 50s;
}

@keyframes colorchange
{
0%   {background: red;}
25%  {background: yellow;}
50%  {background: blue;}
75%  {background: green;}
100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome */
{
0%   {background: red;}
25%  {background: yellow;}
50%  {background: blue;}
75%  {background: green;}
100% {background: red;}
}

.spin-id {
    -webkit-animation: colorchangeSpin 50s;
    animation: colorchangeSpin 50s;
}

.ch-info-back{
    background-color:transparent !important;
}

.turquoise{
	background-color:transparent !important;
}
.ch-info-wrap{
	background-color:transparent !important;
}

.share-action{
    -webkit-animation: colorchangeSpin 50s;
    animation: colorchangeSpin 50s;
}



@keyframes colorchangeSpin
{
0%   {background: blue;}
25%  {background: green;}
50%  {background: red;}
75%  {background: yellow;}
100% {background: blue;}
}

@-webkit-keyframes colorchangeSpin /* Safari and Chrome */
{
0%   {background: blue;}
25%  {background: green;}
50%  {background: red;}
75%  {background: yellow;}
100% {background: blue;}
}


.footer-user{
    -webkit-animation: colorchangeFooter 50s;
    animation: colorchangeFooter 50s;
}

@keyframes colorchangeFooter
{
0%   {color: blue;}
25%  {color: green;}
50%  {color: red;}
75%  {color: yellow;}
100% {color: blue;}
}

@-webkit-keyframes colorchangeFooter /* Safari and Chrome */
{
0%   {color: blue;}
25%  {color: green;}
50%  {color: red;}
75%  {color: yellow;}
100% {color: blue;}
}